body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    background-color: #db4c3f;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}


.item label {
    display: block;
    padding-bottom: 10px;
}

.item input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.item {
    border: 1px #e5e5e5 solid;
    border-radius: 10px;
    min-width: 350px;
    max-width: 450px;
    width: 50vw;
    padding: 10px 10px;
    margin: 20px 0px;
}

.box {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit {
    min-width: 380px;
    max-width: 470px;
    width: 53vw;
    padding: 10px 10px;
    border: 1px #db4c3f solid;
    border-radius: 10px;
    background-color: #db4c3f;
    color: white;
    font-size: 24px;
}

.submit:hover, .submit:active {
    background-color: #c53727;
    cursor: pointer;
}

#formbreak {
    min-width: 380px;
    max-width: 470px;
    width: 53vw;
    margin-left: 0;
}

.messages {
    margin-top: 10px;
    color: #be1809;
    text-align: center;
}

.logoimg {
    width: 125px;
    height: 125px;
    border: 1px transparent solid;
    border-radius: 50px;
}