{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/css/login.css' %}">

        <title>Login</title>
    </head>
    <body>
        <div class="logo">
            <p>ToDo's List</p>
        </div>

        <div class="box">

            <div class="title">
                <h1>Log In</h1>
            </div>
            <div class="column">
                <form action="" method="post">
                    
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="item">
                                <label for="{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        
                        <input class="submit" type="submit" value="Log in">
                </form>
                <hr id="formbreak">
                <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
            </div>
        </div>
    </body>
</html>