{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/css/register.css' %}">

        <title>Register</title>
    </head>
    <body>
        <div class="box">

            <div class="item title">
                <h1>Register</h1>
            </div>
            <form action="" method="post">
                <div class="flex">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="item">
                            <p class="description">{{ field.label }}</p>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="item">
                        <input class="item submit" type="submit">
                    </div>

                </div>
            </form>

            <a href="{% url 'login' %}">Register</a>
        </div>
    </body>
</html>